/* src/index.css */

/* Prevent mobile browsers from auto-zooming text */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* Tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;
